/* *======= Google Fonts =======* */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&family=Roboto:wght@400;700&display=swap");

/* *======= VARIABEL =======* */
:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;

  --clr-white: #f6f6f4;
  --clr-black: #222222;
  --clr-black-hover: #222222cc;

  --radius: 0.5rem;
  --transition: all 0.3s ease;
  --transition-cb: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* *======= GLOBAL STYLE =======* */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-black);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* *======= GLOBAL CLASS =======* */
.btn {
  border: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 0.5rem 1.25rem;
  border-radius: var(--radius);
  cursor: pointer;
  font-family: var(--ff-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--clr-black-hover);
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: none;
}

/* *======= Form Input =======* */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: #222222cc;
  color: var(--clr-white);
  padding: 1.5rem 3rem;
  border-radius: var(--radius);
}

.login h2 {
  color: var(--clr-white);
  text-align: center;
  margin-bottom: 4rem;
}

.form-control {
  position: relative;
  margin: 1.7rem 0 3rem;
  width: 300px;
}

.form-control input {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--clr-white);
  width: 100%;
  padding: 0.5rem 0;
  color: var(--clr-white);
  font-family: inherit;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: burlywood;
}

.form-control input:focus + label,
.form-control input:valid + label {
  color: burlywood;
  transform: translateY(-1.5rem);
}

/* .form-control input:focus + label span,
.form-control input:valid + label span {
  color: burlywood;
  transform: translateY(-1.5rem);
} */

.form-control label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  transition: var(--transition-cb);
}

/* .form-control label span {
  display: inline-block;
  transition: var(--transition-cb);
} */

.btn {
  background-color: var(--clr-white);
  color: var(--clr-black);
  width: 100%;
  margin-bottom: 1.5rem;
}

.btn:hover {
  background-color: var(--clr-white);
}

.text {
  color: var(--clr-white);
  text-align: center;
}

.text a {
  color: burlywood;
}
