/* *======= VARIABEL =======* */
:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-strong: 900;

  --clr-white: #f6f6f4;
  --clr-black: #222;

  --clr-main: #fedb67;
  --clr-main-lighter: #ffecb2;
  --clr-main-darker: #f5a913;

  --radius: 0.5rem;
  --transition: all 0.3s ease;
}

/* *======= GLOBAL STYLE =======* */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-black);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* *======= GLOBAL CLASS =======* */
/* .container {
  width: 90vw;
  margin: ;
}

@media screen and (min-width: 992px) {
  .container {
    width: 85vw;
  }
} */

/* *======= Counter =======* */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

span {
  font-size: 4rem;
  font-weight: var(--fw-bold);
}

.btn {
  text-transform: capitalize;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.3rem;
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
